<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('./partials/head'); %>
</head>
 
<body>
	<!-- Header -->
	<header class="main-header">
		<% if (user != null) { %>
			<%- include('./partials/headerLogueado') %> 
		<% } else { %>
			<%- include('./partials/header') %> 
		<% } %>
	</header>
	<!-- /Header -->
	<!-- product detail -->
	<% if(data.id = null){ %> 
		<h3 class="noproduct">No pudimos encontrar el producto que buscás.</h3>
	<% } else { %>
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<section class="title-align">
				<h2 class="products-title-detail">• <%= data.name %> •</h2> 
				<h3 class="product-title-detailed"> Publicado por: <a href="/users/profile/<%= data.users.id %>"> <%=data.users.name %> <%=data.users.surname %> </a></h3>
				<a class="img-detailed" href="/users/profile/<%= data.users.id %>"> <img src="/images/avatars/<%= data.users.avatar %>" alt=""></a>
			</section>
				
		<% } %>
		</div>
		</div>
		<div class="product-detail">
			<div class="rowrow">
				<article class="col-12 col-lg-8 product-detail-info">

					<img src="/images/products/<%= data.image %>" alt="" class="product-detail-img">

					<h3 class="product-detail-description"> <%= data.name %> </h3>
						
					<p class="product-detail-description"> Descripción: <%= data.description %></p>
				 
					<article class="logedit">
					<% if (locals.user){ %> 
						<% if (locals.user.id == data.users_id){ %> 
							<div class="product-delete">
								<form action="/products/product-edit/<%= data.id %> " >
									<button type="submit"> Editar <i class="fa fa-pen"></i> </button>
								</form>
								<form action="/products/product-delete/<%= data.id %>" method="POST">
									<button type="submit"> Eliminar <i class="fas fa-trash"></i> </button>
								</form>
							</div>
						<% } %>
					<% } %>
					</article>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						
						<% for(let i=0; i < data.comments.length ; i++ ){ %>
							<article>
							<img src="/images/avatars/<%= data.comments[i].users.avatar %>" alt=" Imagen de <%= data.comments[i].users.name %>">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile/<%= data.comments[i].users.id %>"> <%= data.comments[i].users.name %> <%= data.comments[i].users.surname %></a>  </strong>
								</p>
								<p class="user"> <%= data.comments[i].text %> </p>
								<% if(locals.user) { %>
                                    <%if (locals.user.id == data.comments[i].users.id){ %> 
                                    <form action="/products/delete-comment/<%= data.comments[i].id %>" method="POST">
										<button type="submit"> Eliminar <i class="fas fa-trash"></i> </button>
                                    </form>
                                    <% } %>
                                <% } %>
							</div>
						    </article>
						<% } %>

					</section>
					<form class="form" action="/products/<%= data.id %>/comment" method="POST">
						<input class="form-input" type="text"  name="text" value="" placeholder="Agregar comentario" required>
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %> 
	</footer>
	<!-- /footer -->

</body>	
</html>