<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('./partials/head'); %>
</head>
 
<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/headerLogueado') %>
	</header>
	<!-- /Header -->
	<!-- product detail -->
	<% if(data.id = null){ %> 
		<h3 class="noproduct">No pudimos encontrar el producto que buscás.</h3>
	<% } else { %>
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title-detail"><%= data.name %></h2> 
			<h3 class="product-detail-description">Usuario: <a href="/users/profile/<%= data.users.id %>"> <%=data.users.name %> <%=data.users.surname %>  </a></h3>
				<% if (locals.user){ %> 
					<% if (locals.user.id == data.users_id){ %> 
						<div class="product-delete">
							<a href="/products/product-edit/<%= data.id %> ">Editar</a>
							<form action="/products/product-delete/<%= data.id %>" method="POST">
								<button type="submit"> <i class="fas fa-trash"></i> </button>
							</form>
						</div>
					<% } %>
	             <% } %>
		<% } %>
		</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">

					<img src="/images/products/<%= data.image %>" alt="" class="product-detail-img">

					<h3 class="product-detail-description"><%= data.name %> </h3>
						
					<p class="product-detail-description"><%= data.description %></p>
					<!-- <p class="product-detail-options"> Marca: Nike</p>
					<p class="product-detail-options">Color: Rosa</p>
					<p class="product-detail-options"> Talle: 38 </p>  -->
					
				</article>
				<div class="col-12 col-lg-4">
					<!-- <section class="comments">
						
							<article>
							<img src="" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile"> </a> </strong>
								</p>
							</div>
						</article>
						

					</section> -->
					<form class="form" action="" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %> 
	</footer>
	<!-- /footer -->

</body>	
</html>