<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('./partials/head') %> 
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<% if (user != null) { %>
			<%- include('./partials/headerLogueado') %> 
		<% } else { %>
			<%- include('./partials/header') %> 
		<% } %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">• Agregar productos •</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<!-- Formulario para agregar productos al catalogo -->
			<main class="main-registro">
				<div class="div-registro">
					<form class="form-register" action="/products/add/new" method="POST" enctype="multipart/form-data">
						<% if (locals.errors) { %>
							<p class="error"><%= errors.message %>  </p>
						<% } %>
						<div>
							<label>Imagen:</label>
							<input type="file" name="image" value="" required>
						</div>
						<div>
							<label>Nombre del Producto:</label>
							<input type="text" name="name" value="" required>
						</div>
						<div>
							<label>Descripcion:</label>
							<input type="text" name="description" value="" required>
						</div>
						<div>
						
						<button class="boton" type="submit">Enviar</button>
					</form>
				</div>
			</main>		
			



		</div>	
	 </div>	
	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %> 
	</footer>
	<!-- /footer -->
</body>

</html>