<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('./partials/head'); %>
</head>
 
<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/header') %> 
	</header>
	<!-- /Header -->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title-detail">Zapatillas Nike Air Max 270</h2> 
			<p class="product-detail-description">
				<a href="/products/add/new">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/air-max-270.jpg" alt="" class="product-detail-img">
					<h3 class="product-detail-description"> Zapatillas Nike Air Max 270 </h3>
						
					<p class="product-detail-description">
						Las zapatillas Nike Air Max 270 están inspiradas en dos íconos Air Max, las 180 y 93.
						Su diseño incorpora en el talón la unidad Air más grande para proporcionarte una pisada
						 super suave con un tacto tan increíble como su look. Amortiguación y ventilación donde más lo necesitas,
						  eso te brindan las Air Max 270.</p>

					<p class="product-detail-options"> Marca: Nike</p>
					<p class="product-detail-options">Color: Rosa</p>
					<p class="product-detail-options"> Talle: 38 </p> 
					
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < comentarios.length; i++) { %>
							<article>
							<img src="<%= comentarios[i].foto %>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile"><%= comentarios[i].usuario %> </a> </strong>
								<%= comentarios[i].texto %></p>
							</div>
						</article>
						<% } %>

					</section>
					<form class="form" action="" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %> 
	</footer>
	<!-- /footer -->

</body>	
</html>