<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include("./partials/head") %> 
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<% if (user != null) { %>
			<%- include('./partials/headerLogueado') %> 
		<% } else { %>
			<%- include('./partials/header') %> 
		<% } %>
	</header>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/avatars/<%= data.avatar %>" alt="foto de <%= data.user %>>" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= data.name %>  <%= data.surname %>
						<% if (locals.user){ %>
							<% if(locals.user.id == data.id ){ %>
							<a href="/users/profileedit/<%= data.id %>">
							<i id="hover2" class="fas fa-cog"></i>
							</a>
							<% } %>
						<% } %>
					</h1>
					<form action="/users/profile/follower/<%= data.id %>" method="POST">
						<button type="submit" class="follow-button">SEGUIR</button>
					</form>
				</div>
				<div>
					<ul class="datos">
						<li>Correo: <%= data.email %> </li>
						<li>Productos: <%= data.products.length %> </li>
						<li>Seguidores:  </li>
						<li>Comentarios: <%= data.comments.length %> </li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">• Mis productos •</h2>
			</div>
			<!-- Show mis productos -->
			<% if(data.products.length != 0) { %>
			<% for (let i=0; i < data.products.length ; i ++) { %> 	
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/<%= data.products[i].id %>">
							<figure class="product-box_image">
							<img src="/images/products/<%= data.products[i].image %>" alt="foto de producto">	  
						</figure>
						<article class="product-box_data">
							<h2> <%= data.products[i].name %> </h2>
							<p>Descripción: <%= data.products[i].description %> </p>
							<a href="/users/profile/<%= data.id %>"><p class="hover"> Usuario: <%= data.name %> <%= data.surname %> </p></a>
							<p>Comentarios: <%= data.products[i].comments.length %> </p>
						</article>
						</a>
					</section>
				</div>
			<% } %> 
			<% } else { %>
				<div class="noproduct">
					<h3>No cargaste ningun producto</h3>
				</div>
			<% } %>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %> 
	</footer>
	<!-- /footer -->
</body>	
</html>